<!DOCTYPE html>
<html>
<head>
    <title>QA Edu App | {{ page }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="body-container">
    <div class="navbar navbar-inverse home">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ request.script_root }}/" class="navbar-brand">QA Edu App</a>
        </div>
        <div class="navbar-collapse collapse" aria-expanded="false" style="height: 0px">
          <ul class="nav navbar-nav">
            <li><a href="{{ request.script_root }}/users">Users</a></li>
            <li><a href="{{ request.script_root }}/scoreboard">Scoreboard</a></li>
            <!-- <li><a href="{{ request.script_root }}/challenges">Challenges</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if username is defined %}
            {% if admin %}
            <!-- <li><a href="{{ request.script_root }}/admin">Admin</a></li> -->
            {% endif %}
            <li><a href="{{ request.script_root }}/user/{{ id }}">User</a></li>
            <li><a href="{{ request.script_root }}/profile">Profile</a></li>
            <li><a href="{{ request.script_root }}/logout">Logout</a></li>
          {% else %}
            <li><a href="{{ request.script_root }}/login">Login</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>

    {% block content %}
    {% endblock %}

  </div>
</body>
</html>