<div class="home">
    <div class="container">
        <h1>Scoreboard</h1>
    </div>
</div>
<div class="container main-container">
    <div id="score-graph"></div>
    <br>

    <table id="scoreboard" class="table table-striped">
        <thead>
            <tr>
                <td width="10px"><b>Place</b>
                </td>
                <td><b>User</b>
                </td>
                <td><b>Score</b>
                </td>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr><td>{{ loop.index }}</td><td><a href="{{ request.script_root }}/user/{{ user.userid }}">{{ user.name }}</a></td><td>{{ user.score }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>