{% extends "base.html" %}

{% block styles %}
        <link href="{{ request.script_root }}/static/{{ template_theme }}/css/bootstrap-table.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="main">
          <h1 class="page-header">Challenges</h1>

<div class="table-responsive">
    <table data-toggle="table"
               data-url="{{ request.script_root }}/exercises"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true">
        <thead>
            <tr>
              <th data-field="category">Category</th>
              <th data-field="cost">Cost</th>
              <th data-field="name">Name</th>
              <th data-field="solved">Solved</th>
            </tr>
        </thead>
    </table>
          </div>
          </div>
        </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ request.script_root }}/static/{{ template_theme }}/js/bootstrap-table.js"></script>
{% endblock %}