{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="main">
          <h1 class="page-header">Challenges</h1>

<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Cost</th>
                  <th>Name</th>
                  <th>Task</th>
                  <th>Solved</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><span class="label label-info">python</span></td>
                  <td>100</td>
                  <td>Find max number</td>
                  <td><a href="#">Overview <span class="sr-only">(current)</span></a></td>
                  <td>0</td>
                </tr>
                <tr>
                  <td><span class="label label-info">python</span></td>
                  <td>200</td>
                  <td>Find maximum number of repetitions of a single character</td>
                  <td><a href="#">Overview <span class="sr-only">(current)</span></a></td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
</div>
{% endblock %}
