 {% extends "base.html" %}

{% block stylesheets %}
    <style>
    hr {
        margin-top: 0px;
        padding-bottom: 10px;
    }
    .row {
        margin-bottom: 10px;
    }
    </style>
{% endblock %}

{% block content %}
<div class="jumbotron home">
    <div class="container">
        <h1>Profile</h1>
    </div>
</div>
<div class="container main-container">
        <div align="center">
            <h3>Hello, {{ name }}!</h3>
        </div>
        <br>
        <div align="center">
            <img src="{{ pic }}">
        </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ request.script_root }}/static/{{ template_theme }}/js/style.js"></script>
{% endblock %}
