{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
      <div class="row">
        <div class="main">
          <h1 class="page-header">Profile</h1>

          <div class="row placeholders">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <img src="{{ picture }}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{ name }}</h4><br>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{ email }}
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-globe"></i>Score: {{ user.score() }}
                            <br>
                            <i class="glyphicon glyphicon-globe"></i>Place: {{ user.place() }}
                        </p>
                    </div>
                </div>
          </div>

          <h2 class="sub-header">History</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Task</th>
                  <th>Status</th>
                  <th>Source</th>
                  <th>Date</th>
                </tr>
              </thead>
            <tbody>
            {% for attempt in attempts %}
                <tr>
                    <td>{{ attempt.task_name }}</td>
                    <td>{{ attempt.status }}</td>
                    <td>{{ attempt.source() }}</td>
                    <td>{{ attempt.updated }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
          </div>
        </div>
      </div>
</div>
{% endblock %}