{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
      <div class="row">
        <div class="main">
          <h1 class="page-header">Scoreboard</h1>

<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Place</th>
                  <th>User</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Alexey Galkin</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
    </div>

</div>
{% endblock %}

